.conversation, .message {
	padding: 6px;
	margin: 12px;
	border: 1px solid gray;
	background-color: #888;
	cursor: pointer;
}
.conversation {
	display: inline-block;
}
.align-right {
	text-align: right;
}
.blue {
	color: blue;
}

.red {
	color: red;
}
.inline {
	display: inline-block;
}
.bubble {
				/* success green */
	vertical-align: top;
	margin-top: 21px;
	border: 1px solid #18bc9c; 
	border-radius: 5px;
	padding: 12px;
}